parameters:
    level: 5

    paths:
        - src
    bootstrapFiles:
        - vendor/autoload.php
    
    ignoreErrors:
        - 
            message: '#Trait .* is used zero times and is not analysed#'
            path: src/Traits/*

